# Lab 1 - Pandas Intro

In [91]:
import pandas as pd

movies_df = pd.read_csv("movie.csv")
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## Questions

**0.** What is the average IMDB Score of all the movies?

In [160]:
imdb_score_mean = movies_df.imdb_score.mean()

display(movies_df.loc[:,["movie_title","duration"]])

print(f"The average IMDB Score of all movies is {imdb_score_mean}")

                                     movie_title  duration
0                                         Avatar     178.0
1       Pirates of the Caribbean: At World's End     169.0
2                                        Spectre     148.0
3                          The Dark Knight Rises     164.0
4     Star Wars: Episode VII - The Force Awakens       NaN
...                                          ...       ...
4911                     Signed Sealed Delivered      87.0
4912                               The Following      43.0
4913                        A Plague So Pleasant      76.0
4914                            Shanghai Calling     100.0
4915                           My Date with Drew      90.0

[4916 rows x 2 columns]

The average IMDB Score of all movies is 6.4374288039056085

**1.** How many movies have "Star Wars" in the movie_title field?

In [134]:
star_wars_mask = movies_df['movie_title'].str.contains('Star Wars')
star_wars_movies = movies_df[star_wars_mask].loc[:, "movie_title"]
star_wars_movies_count = star_wars_movies.shape[0]

print(f"There are {star_wars_movies_count} movies with Star Wars in the movie_title field.")
display(star_wars_movies)

There are 8 movies with Star Wars in the movie_title field.

4           Star Wars: Episode VII - The Force Awakens
233       Star Wars: Episode III - Revenge of the Sith
234       Star Wars: Episode II - Attack of the Clones
237          Star Wars: Episode I - The Phantom Menace
1521        Star Wars: Episode VI - Return of the Jedi
2031    Star Wars: Episode V - The Empire Strikes Back
2973                Star Wars: Episode IV - A New Hope
3271                         Star Wars: The Clone Wars
Name: movie_title, dtype: object

**2.** Which movie has the highest IMDB Score? What is that score?

In [143]:
highest_imdb_score = movies_df.imdb_score == movies_df.imdb_score.max()
highest_imdb_score_filtered = movies_df[highest_imdb_score].loc[:, ["movie_title", "imdb_score"]]
highest_imdb_score_filtered

           movie_title  imdb_score
2725  Towering Inferno         9.5

**3**. Which movie has the lowest IMDB Score? What is that score?

In [144]:
lowest_imdb_score = movies_df.imdb_score == movies_df.imdb_score.min()
lowest_imdb_score_filtered = movies_df[lowest_imdb_score].loc[:, ["movie_title", "imdb_score"]]
lowest_imdb_score_filtered

                         movie_title  imdb_score
2789  Justin Bieber: Never Say Never         1.6

**4.** For each director, how many movies have they directed (from this dataset)?

In [150]:
print("Here are all the listed directors and the number of movies directed.")
display(movies_df.director_name.value_counts().sort_index())

Here are all the listed directors and the number of movies directed.

A. Raven Cruz         1
Aaron Hann            1
Aaron Schneider       1
Aaron Seltzer         1
Abel Ferrara          1
                     ..
Zoran Lisinac         1
Álex de la Iglesia    1
Émile Gaudreault      1
Éric Tessier          1
Étienne Faure         1
Name: director_name, Length: 2397, dtype: int64

**5.** What's the average duration of Action movies?

In [124]:
action_mask = movies_df['genres'].str.contains('Action')
action_duration_average = movies_df[action_mask].duration.mean()

print(f"The average duration of action movies is {action_duration_average} minutes.")

The average duration of action movies is 110.67657657657658 minutes.

**6.** Which PG-13 movie had the biggest budget?

In [125]:
pg_13_mask =  movies_df.content_rating == "PG-13"
highest_budget_pg_13_movies = movies_df[pg_13_mask].loc[:, ["movie_title", "content_rating", "budget"]].sort_values("budget", ascending=False)

print("Here are PG-13 movies with the highest budgets. Princess Mononoke has the highest budget.")
highest_budget_pg_13_movies

Here are PG-13 movies with the highest budgets. Princess Mononoke has the highest budget.

                                   movie_title content_rating        budget
2294                         Princess Mononoke          PG-13  2.400000e+09
2305                                  Steamboy          PG-13  2.127520e+09
3779                                     Tango          PG-13  7.000000e+08
1     Pirates of the Caribbean: At World's End          PG-13  3.000000e+08
5                                  John Carter          PG-13  2.637000e+08
...                                        ...            ...           ...
4679                        Dogtown and Z-Boys          PG-13           NaN
4754                           Shotgun Stories          PG-13           NaN
4814                            Heroes of Dirt          PG-13           NaN
4835                                The Mighty          PG-13           NaN
4914                          Shanghai Calling          PG-13           NaN

[1411 rows x 3 columns]

**7.** How many movies were made in each year (title_year)?

In [149]:
print("Here are the numbers of movies made for each year.")
display(movies_df.title_year.value_counts().sort_index())

Here are the numbers of movies made for each year.

1916.0      1
1920.0      1
1925.0      1
1927.0      1
1929.0      2
         ...
2012.0    214
2013.0    231
2014.0    243
2015.0    211
2016.0     98
Name: title_year, Length: 91, dtype: int64

**8.** How many movies had more than 10000 movie_facebook_likes?

In [159]:
large_facebook_likes = movies_df[movies_df.movie_facebook_likes > 10000]
large_facebook_likes_filtered = large_facebook_likes.loc[:, ["movie_title", "movie_facebook_likes"]]
facebook_like_number = large_facebook_likes_filtered.shape[0]

print(f"There are {facebook_like_number} movies with over 10000 movie_facebook_likes")
display(large_facebook_likes_filtered)

There are 1022 movies with over 10000 movie_facebook_likes

                movie_title  movie_facebook_likes
0                    Avatar                 33000
2                   Spectre                 85000
3     The Dark Knight Rises                164000
5               John Carter                 24000
7                   Tangled                 29000
...                     ...                   ...
4806          Another Earth                 21000
4810                   Once                 26000
4847                     Pi                 24000
4906                 Primer                 19000
4912          The Following                 32000

[1022 rows x 2 columns]


**9.** How many movies have "Tom Hanks" (as actor1, actor2, or actor3)?

In [171]:
tom_hanks_mask = (movies_df.actor_1_name == "Tom Hanks") | (movies_df.actor_2_name == "Tom Hanks") | (movies_df.actor_3_name == "Tom Hanks")
tom_hanks_movies_filtered = movies_df[tom_hanks_mask].loc[:, ["movie_title", "actor_1_name", "actor_2_name", "actor_3_name"]]

print(f"There are {tom_hanks_movies_filtered.shape[0]} movies that feature Tom Hanks as actor 1, 2, or 3.")
display(tom_hanks_movies_filtered)

There are 28 movies that feature Tom Hanks as actor 1, 2, or 3.

,movie_title,actor_1_name,actor_2_name,actor_3_name
43,Toy Story 3,Tom Hanks,John Ratzenberger,Don Rickles
91,The Polar Express,Tom Hanks,Eddie Deezen,Peter Scolari
129,Angels & Demons,Tom Hanks,Ayelet Zurer,Armin Mueller-Stahl
205,The Da Vinci Code,Tom Hanks,Seth Gabel,Jürgen Prochnow
307,Cloud Atlas,Tom Hanks,Jim Sturgess,Jim Broadbent
349,Toy Story 2,Tom Hanks,John Ratzenberger,Wayne Knight
390,Cast Away,Tom Hanks,Paul Sanchez,Nick Searcy
451,Road to Perdition,Tom Hanks,Jennifer Jason Leigh,Liam Aiken
530,The Terminal,Tom Hanks,Chi McBride,Barry Shabaka Henley
534,Charlie Wilson's War,Philip Seymour Hoffman,Tom Hanks,Jud Tylor
641,Saving Private Ryan,Tom Hanks,Vin Diesel,Matt Damon
648,Apollo 13,Tom Hanks,Miko Hughes,Kathleen Quinlan
651,You've Got Mail,Tom Hanks,Jean Stapleton,Dave Chappelle
704,The Green Mile,Tom Hanks,Jeffrey DeMunn,Michael Jeter
827,Forrest Gump,Tom Hanks,Siobhan Fallon Hogan,Sam Anderson
836,Captain Phillips,Tom Hanks,Chris Mulkey,Michael Chernus
902,Catch Me If You Can,Leonardo DiCaprio,Tom Hanks,Jennifer Garner
1185,A League of Their Own,Tom Hanks,Lori Petty,Rosie O'Donnell
1213,Bridge of Spies,Tom Hanks,Mark Rylance,Amy Ryan
1258,Extremely Loud & Incredibly Close,Tom Hanks,Thomas Horn,Stephen Henderson
1415,Saving Mr. Banks,Tom Hanks,Ruth Wilson,B.J. Novak
1426,The Ladykillers,J.K. Simmons,Tom Hanks,Stephen Root
1572,Toy Story,Tom Hanks,John Ratzenberger,Jim Varney
1645,Larry Crowne,Tom Hanks,Rob Riggle,Randall Park
2364,Big,Tom Hanks,Jon Lovitz,John Heard
2536,Philadelphia,Denzel Washington,Tom Hanks,Jason Robards
3300,Splash,Tom Hanks,Howard Morris,Patrick Cronin
4095,That Thing You Do!,Tom Hanks,Charlize Theron,Ethan Embry

**10.**  What are the movies and number of voted users (num_voted_users) for movies that have less than 2 faces in the poster (facenumber_in_poster)?

In [177]:
print("Here are the movies that has a poster with less than two faces in it, as well as their number of voted users.")

less_than_two_face_movies = movies_df[movies_df.facenumber_in_poster < 2]
less_than_two_face_movies_filtered = less_than_two_face_movies.loc[:, ["movie_title", "num_voted_users", "facenumber_in_poster"]]
less_than_two_face_movies_filtered

Here are the movies that has a poster with less than two faces in it, as well as their number of voted users.

,movie_title,num_voted_users,facenumber_in_poster
0,Avatar,886204,0.0
1,Pirates of the Caribbean: At World's End,471220,0.0
2,Spectre,275868,1.0
3,The Dark Knight Rises,1144337,0.0
4,Star Wars: Episode VII - The Force Awakens,8,0.0
...,...,...,...
4909,The Mongol King,36,0.0
4910,Newlyweds,1338,1.0
4912,The Following,73839,1.0
4913,A Plague So Pleasant,38,0.0
4915,My Date with Drew,4285,0.0

**11.** What are the directors and number of director facebook likes for movies made beteween 2000 and 2004 (inclusive) sorted in descending order of director facebook likes?

In [189]:
movies_before_2004 = movies_df[movies_df.title_year <= 2004]
movies_between_given_years = movies_before_2004[movies_df.title_year >= 2000]

print("Here are the directors and sorted director facebook likes for movies made between the years 2000 and 2004.")
display(movies_between_given_years.loc[:, ["movie_title", "title_year", "director_facebook_likes"]].sort_values("director_facebook_likes", ascending=False))

Here are the directors and sorted director facebook likes for movies made between the years 2000 and 2004.

C:\Users\harri\AppData\Local\Temp\ipykernel_7132\3898574365.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  movies_between_given_years = movies_before_2004[movies_df.title_year >= 2000]

                         movie_title  title_year  director_facebook_likes
1057                        Insomnia      2002.0                  22000.0
3646                         Memento      2000.0                  22000.0
1034                      Panic Room      2002.0                  21000.0
2849                  Antwone Fisher      2002.0                  18000.0
2023                  Beyond the Sea      2004.0                  18000.0
...                              ...         ...                      ...
2081  Jay and Silent Bob Strike Back      2001.0                      0.0
1935                Punch-Drunk Love      2002.0                      0.0
1896                 Rugrats Go Wild      2003.0                      0.0
1895      The Wild Thornberrys Movie      2002.0                      0.0
31                      Spider-Man 2      2004.0                      0.0

[932 rows x 3 columns]

12. What are the missing values (NaN)?

In [192]:
print("Here is data that holds missing values.")

missing_values_mask = movies_df.duration.isna()
movies_with_missing_values = movies_df[missing_values_mask]
movies_with_missing_values

Here is data that holds missing values.

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
197,Color,Matt Birch,1.0,NaN,0.0,159.0,Dave Legeno,10000.0,NaN,Action|Fantasy,...,2.0,English,UK,NaN,NaN,2011.0,570.0,7.5,NaN,40
203,Color,Matt Birch,4.0,NaN,0.0,1000.0,Toby Jones,10000.0,NaN,Fantasy,...,2.0,English,UK,NaN,NaN,2010.0,2000.0,6.4,NaN,25
1495,Color,Tony Kaye,NaN,NaN,194.0,816.0,Aisha Tyler,970.0,NaN,Crime|Drama,...,NaN,English,USA,NaN,23000000.0,2009.0,856.0,7.2,NaN,26
3536,Color,NaN,10.0,NaN,NaN,502.0,Tuppence Middleton,1000.0,NaN,Drama|History|Romance|War,...,44.0,English,UK,TV-14,NaN,NaN,888.0,8.2,16.00,11000
3744,Color,Marc Bennett,2.0,NaN,3.0,723.0,Natasha Henstridge,975.0,NaN,Comedy|Drama,...,2.0,English,USA,NaN,5000000.0,2012.0,900.0,6.7,NaN,35
3763,Color,Shekar,1.0,NaN,0.0,0.0,Diganth,5.0,NaN,Comedy|Romance,...,1.0,Kannada,India,NaN,NaN,2013.0,0.0,7.1,NaN,2
4207,Color,Kundan Shah,1.0,NaN,4.0,72.0,Bobby Deol,353.0,NaN,Action|Comedy|Romance|Thriller,...,1.0,Hindi,India,NaN,NaN,2000.0,89.0,2.8,NaN,10
4297,Color,David M. Matthews,5.0,NaN,8.0,394.0,Lamman Rucker,713.0,2592808.0,Crime|Drama|Thriller,...,15.0,English,USA,R,NaN,2010.0,607.0,3.5,2.35,588
4302,Color,Romesh Sharma,4.0,NaN,0.0,45.0,Revathy,421.0,129319.0,Romance,...,4.0,English,India,NaN,70000000.0,2005.0,96.0,5.1,NaN,9
4416,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,NaN,NaN,457.0,7.1,2.00,954
4502,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,Comedy|Family,...,15.0,Urdu,Pakistan,NaN,1000000.0,2015.0,5.0,7.0,NaN,259
4580,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,Action|Adventure|Fantasy|Sci-Fi,...,11.0,English,USA,NaN,NaN,2014.0,4000.0,8.1,NaN,1000
4825,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,Romance,...,NaN,English,USA,PG-13,125000.0,2015.0,0.0,5.1,NaN,0
4863,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,Comedy|Drama,...,3.0,English,USA,NaN,NaN,2006.0,36.0,4.7,NaN,2